<div ng-cloak>
    <div class="col-left">
        <button class="btn btn-primary" ng-click="create()"> Create New {{itemType}} </button>
    </div>

    <div class="col-right">
        <h3>List of {{itemType}}s</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="button" ng-click="sort('type')">Type</th>
                <th class="button" ng-click="sort('id')">ID</th>
                <th class="button" ng-click="sort('date')">Date</th>
                <th class="button" ng-click="sort('title')">Title</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list | orderBy:key:order">
                <td>{{item.type}}</td>
                <td>{{item.id}}</td>
                <td>{{item.date | date: "yyyy-MM-dd"}}</td>
                <td>{{item.title}}</td>
                <td>
                    <a ng-href="#/edit/{{item.type}}:{{item.id}}"><button class="btn">Edit</button></a>

                    <!--<button class="btn" ng-click="delete(item)">Delete</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>